<% include ./partials/header %>


<header class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Features this app contains:</h1>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>Authentication</h3>
            <ul>
                <li>Register</li>
                <li>Auth Session</li>
                <li>Content Authorization</li>
            </ul>
            <h3>Data Associations</h3>
            <ul>
                <li>Models: Campground, User, Comments</li>
                <li>Every one can view campgrounds</li>
                <li>You have to be logged in to create a campground</li>
                <li>You have to be logged in to make a review (comment)</li>
                <li>Every campground belongs to a user</li>
                <li>Every comment belongs to a campground</li>
            </ul>
            <h3>Other</h3>
            <ul>
                <li>RESTful Routing</li>
            </ul>
            <hr>
            <h3>Working on next:</h3>
            <ul>
                <li>Create a user profile page</li>
                <li>Form validation</li>
                <li>More informative flash messages</li>
                <li>Edit comments/reviews inline</li>
            </ul>
        </div>
    </div>
</div>

<% include ./partials/footer %>