<% include ./partials/header %>


<header class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Account</h1>
    </div>
</header>
<div class="container">
    <div class="row ">
        <div class="col-6">
            <p>This is where the users account infomation will be. They should be able to edit this.</p>
        </div>
    </div>
</div>

<% include ./partials/footer %>